* {
  box-sizing: border-box;
}

@keyframes windowOpen {
  0% {
    opacity: 0.3;
    transform: perspective(200px) rotateX(0.75deg) translateY(-5px) scale(0.985);
  }
  to {
    opacity: 1;
    transform: perspective(200px) rotateX(0) rotateY(0) translateY(0) scale(1);
  }
}

@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/normal/segoeui.eot");
  src: local("Segoe UI"), local("Segoe"), local("Segoe WP"),
    url("https://win7.nota-robot.com/fonts/normal/segoeui.eot?#iefix")
      format("embedded-opentype"),
    url("https://win7.nota-robot.com/fonts/normal/segoeui.woff") format("woff"),
    url("https://win7.nota-robot.com/fonts/normal/segoeui.svg#SegoeUI")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI Semibold";
  src: url("./fonts/semibold/seguisb.eot");
  src: local("Segoe Semibold"), local("Segoe WP Semibold"),
    url("https://win7.nota-robot.com/fonts/semibold/seguisb.eot?#iefix")
      format("embedded-opentype"),
    url("https://win7.nota-robot.com/fonts/semibold/seguisb.woff")
      format("woff"),
    url("https://win7.nota-robot.com/fonts/semibold/seguisb.svg#SegoeUISemibold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url("https://win7.nota-robot.com/fonts/bold/segoeuib.eot");
  src: local("Segoe Bold"), local("Segoe WP Bold"),
    url("https://win7.nota-robot.com/fonts/bold/segoeuib.eot?#iefix")
      format("embedded-opentype"),
    url("https://win7.nota-robot.com/fonts/bold/segoeuib.woff") format("woff"),
    url("https://win7.nota-robot.com/fonts/bold/segoeuib.svg#SegoeUI")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI Light";
  src: url("https://win7.nota-robot.com/fonts/light/segoeuil.eot");
  src: local("Segoe UI Light"), local("Segoe WP Light"),
    url("https://win7.nota-robot.com/fonts/light/segoeuil.eot?#iefix")
      format("embedded-opentype"),
    url("https://win7.nota-robot.com/fonts/light/segoeuil.woff") format("woff"),
    url("https://win7.nota-robot.com/fonts/light/segoeuil.svg#SegoeUI")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  /* background-image: url(https://external-media.spacehey.net/media/sdn7meUeWIXeenMOhhumZzbGHheMZe_rUscErpxXb7zw=/https://static.miraheze.org/windowswallpaperwiki/5/50/Img0_%28Windows_7%29.jpg); */
 background: url('./ezgif.com-video-to-gif.gif');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

nav .top {
  background: none;
}
main {
  background: none;
}
nav .links {
  background: none;
}
nav .links a {
  text-shadow: 0px 0px 16px #ffffff, 0px 0px 16px #ffffff, 0px 0px 16px #ffffff,
    0px 0px 16px #ffffff !important;
}
* {
  font-size: 9pt !important;
  font-family: Segoe UI, sans-serif !important;
  color: black !important;
  text-decoration: none !important;
  cursor: context-menu !important;
  font-weight: normal !important;
}
.container:before {
  border-radius: 6px;
  height: 100%;
  left: 0;
  top: 0;
  box-shadow: 0px 0px 15px 2px #000000c3,
    inset 0px 0px 0px 1px var(--aero-black), inset 0px 0px 0px 2px #d9e2eb;
  background: linear-gradient(
    #fff0 20%,
    hsla(0, 0%, 100%, 0.7) 29%,
    transparent 29.3%
  );
}
.container {
  animation: 0.5s windowOpen cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0 0 15px 2px #000000c3, inset 0 0 0 1px var(--aero-black),
    inset 0 0 0 2px #d9e2eb;
  background: linear-gradient(
      -139deg,
      rgba(135, 173, 190, 0.47) 0%,
      rgba(0, 0, 0, 0) 25%
    ),
    var(--aero-accent);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  padding: 8px;
}

:root {
  --accent: #74b8fc;
  --aero-white: #ffffff7a;
  --aero-black: #000000bd;
  --saturation: 100%;
  --brightness: 100%;
  --intensity: 80%;
  --aero-color: rgba(116, 184, 252, calc(0.7 * var(--intensity)));
  --aero-accent: color-mix(
    in srgb,
    #000,
    color-mix(in srgb, var(--aero-color) var(--saturation), transparent)
      var(--brightness)
  );
}

footer {
  background: none !important;
}

.container {
  background-image: url("./future.mp4");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

button {
  outline: none;
  border: solid thin #707070 !important;
  border-radius: 3px;
  min-width: 60px;
  padding: 2px 12px;
  box-shadow: inset 0 0 0 1px var #ffffff7a !important;
  background: linear-gradient(
    180deg,
    rgba(242, 242, 242, 1) 0%,
    rgba(235, 235, 235, 1) 40%,
    rgba(221, 221, 221, 1) 40%,
    rgba(207, 207, 207, 1) 100%
  ) !important;
  position: relative;
  z-index: 1;
  transition: opacity 0.35s linear;
  cursor: context-menu !important;
}

button:hover {
  border: solid thin #3c7fb1 !important;
}
button:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(234, 246, 253, 1) 0%,
    rgba(217, 240, 252, 1) 40%,
    rgba(190, 230, 253, 1) 40%,
    rgba(167, 217, 245, 1) 100%
  ) !important;
  z-index: -1;
  transition: opacity 0.35s linear;
  opacity: 0;
  border-radius: 3px;
}
button:hover:before {
  opacity: 1;
}
button:after {
  box-shadow: inset 0 0 0 1px #95ade474 !important;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(229, 244, 252, 1) 0%,
    rgba(196, 229, 246, 1) 40%,
    rgba(152, 209, 239, 1) 40%,
    rgba(104, 179, 219, 1) 100%
  ) !important;
  z-index: -1;
  transition: opacity 0.1s linear;
  opacity: 0;
  border-radius: 3px;
}
button:active:after {
  opacity: 1;
}

button {
  height: 22px;
  font-size: 9pt;
}

h1 {
  font-size: 15pt !important;
}


h4 {
  font-size: 11pt !important;
  padding-bottom: 2px;
}
td {

  outline: none;
  box-shadow: inset 0 0 0 1px #ffffff57;
  background: #ffffffba !important;
  border-radius: 2px;
}








a {
  color: rgb(70, 65, 65);
}

footer {
  text-align: center;
  font-size: 70%;

  padding: 10px 5px;
  background-color: #e3e3e3;
}
footer p {
  vertical-align: middle;
  margin: 10px 0 5px 0;
  font-size: 90%;
}
footer .copyright {
  font-size: 80%;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}

html {
  line-height: 1.225;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e3e3e3;
  font-family: verdana, arial, sans-serif, helvetica;
}
.container {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto 10px;
  text-align: center;
}
a {
  color: #1e40af;
  text-decoration: none;
}
a:hover,
a:active {
  color: #c00;
  text-decoration: underline;
}
p {
  font-size: 0.875em;
  font-size: max(0.875em, 12px);
}
ul {
  padding-left: 20px;
}
nav {
  color: white;
  font-size: 72%;
  font-size: max(72%, 12px);
  text-align: center;
}
nav .top {
  background: #A1B4C3;
  padding: 15px 10px 14px 10px;
  display: flex;
  position: relative;
}
nav .top a {
  text-decoration: none;
  color: inherit;
}
nav .top a:hover {
  text-decoration: underline;
}
nav .top div {
  display: inline-block;
  vertical-align: top;
}
nav .top .left a {
  text-decoration: none;
  color: inherit;
}
nav .top .left img {
  margin: 0 0 0 6px;
}
nav .top .left .logo {
  width: 165px;
  height: 42px;
}
nav .links {
  background-color: #87A5BD;
  padding: 3.5px 16px;
}
nav .links,
footer .links {
  margin: 0;
  list-style: none;
}
footer .links {
  font-size: 0.875em;
  margin: 16px 0 5px 0;
  padding: 0;
  text-align: center;
}
nav .links li,
footer .links li {
  display: inline-block;
}
nav .links li.active a {
  font-weight: bold;
}
nav .links li:not(:last-child)::after,
footer .links li:not(:last-child)::after {
  content: " | ";
  color: black;
}
nav .links li {
  min-height: 1.4em;
}
nav .links a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 7px #095dc3; /*to improve the color contrast*/
  font-size: 0.98em;
  font-size: max(0.98em, 12px);
}
nav .links a:hover {
  text-decoration: underline;
  color: #040c5c;
}
nav .links .special a {
  color: #ffff33;
}
main {
  background: white;
  color: black;
  padding: 6px 0px;
  font-size: 80%;
}
main .left,
main .right {
  padding: 10px;
}
footer {
  text-align: center;
  font-size: 70%;
  margin: 10px 0 10px;
  padding: 10px 5px;
  background-color: #e3e3e3;
}
footer p {
  vertical-align: middle;
  margin: 10px 0 5px 0;
  font-size: 90%;
}
footer .copyright {
  font-size: 80%;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}
.welcome {
  background: #A1B4C3;
  background-position: center center;
  background-size: cover;
  padding: 5px;
  margin: 0 0 10px 0;
}
.box {
  text-align: center;
  border: 1px solid #039;
  margin: 0 0 10px 0;
  padding: 5px 5px 15px 5px;
  color: #039;
}
.box h4 {
  margin: 0;
  padding: 0;
}
.box td.label {
  min-width: 61px;
}
.box label {
  color: black;
}
.box form table {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.box .remember td,
.box .buttons td {
  padding-bottom: 8px;
}
.box .email td,
.box .password td {
  text-align: right;
}
.box .email input,
.box .password input {
  width: 100%;
  max-width: 100%;
}
.box .email td {
  padding-top: 8px;
}
.box .password td {
  padding-bottom: 8px;
}
.box .remember {
  font-size: 80%;
  font-size: max(80%, 12px);
}
.box button {
  text-transform: uppercase;
  padding: 2px 5px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
}
.login_btn {
  background: white;
  border-color: #b1b1b1 #1f1f1f #1f1f1f #b1b1b1;
  color: #4368b4;
}
.signup_btn {
  font-weight: bold;
  background: #000000;
  color: white;
}
.home .new-people {
  margin-right: 8px;
}

.new-people {
  border: 1px solid #575757;
}
.new-people .top {
  background-color: #87A5BD;
  overflow-wrap: break-word;
  word-break: break-word;
}
.new-people .top,
.new-people .inner {
  padding: 4px 8px;
}
.new-people h4,
.new-people p {
  margin: 0;
  padding: 0;
}
.new-people p {
  font-weight: bold;
  width: 100%;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
}
.new-people.cool .inner {
  display: flex;
  overflow-x: auto;
}
.new-people .person {
  margin: 5px 10px;
  width: 80px;
  min-height: 100px;
  display: inline-block;
  align-self: flex-end;
}

.top h4 {
  color: white;
}
.music .heading,
.specials .heading {
  background: #BDC5D2;
  padding: 5px 7px;
  margin: 10px 8px 10px 0;
  color: white;
}
.music .heading a.more {
  float: right;
  margin-top: 1px;
  font-size: 80%;
  color: white;
}
.music .heading h4,
.specials .heading h4,
.new-people .top h4 {
  margin: 0;
  font-size: 0.9em;
  display: inline-block;
}
.music .inner,
.specials .inner {
  padding: 6px 15px 10px 15px;
  min-height: 120px;
}
.music .inner .cover,
.specials .inner .image {
  float: left;
  margin: 0 20px 5px 0;
  display: block;
}
.music .inner .cover img,
.specials .inner .image img {
  width: 110px;
  max-width: 100%;
  display: block;
  aspect-ratio: 1/1;
}
.music .inner .details,
.specials .inner .details {
  margin: 0 7px 0 0;
  display: block;
}
.music .inner .details h4,
.specials .inner .details h4 {
  margin: 2px 0 0 0;
}
.music .inner .details h5 {
  margin: 3px 0 0 0;
}
.music .inner .details p,
.specials .inner .details p {
  margin: 7px 0 0 0;
}
.info-area {
  padding: 10px;
  width: 100%;
}
.info-box {
  border: 1px solid #87A5BD;
  background: #BDC5D2;
  padding: 5px 5px 30px 5px;
  position: relative;
}
.info-box:not(:last-child) {
  border-right-width: 0px;
}
.info-box p {
  font-size: 90%;
  font-size: max(90%, 12px);
  margin: 0;
}
.info-box h3 {
  color: black;
  margin: 0;
  margin-bottom: 5px;
}
.info-box .link {
  text-align: right;
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.info-box .link:not(a) {
  color: #c00;
}

@media (min-width: 30em) {
  /* DESKTOP */
  .row {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  .col {
    display: table-cell;
    vertical-align: top;
  }
  .col.w-60 {
    width: 60%;
  }
  .home .col.left {
    background-image: url("https://static.spacehey.net/img/divider_o.png");
    background-position: right -15px;
    background-repeat: repeat-y;
  }
}

@media (max-width: 30em) {
  /* MOBILE */
  .m-hide {
    display: none !important;
  }
  nav .top {
    display: block;
  }
  nav .top .left {
    width: 100%;
    margin-bottom: 10px;
  }
  nav .links {
    text-align: center;
    padding: 3.5px 3.5px 5.5px 3.5px;
  }
  .info-box {
    border-right-width: 1px !important;
  }
  .info-box:not(:last-child) {
    border-bottom-width: 0px;
  }
  .home .new-people,
  .home .music .heading {
    margin-right: 0;
  }
  .music .heading,
  .specials .heading {
    margin-right: 0;
  }
}

@media (max-width: 17em) {
  /* SUPER-SMALL MOBILES (LIKE FEATURE-PHONES) */
  nav .top {
    padding-top: 8px;
  }
  nav .top .left .logo {
    width: 99px;
    height: 25.2px;
    margin-left: 0;
  }
  nav .links {
    display: flex;
    overflow-x: auto;
    gap: 5px;
    padding-left: 8px;
  }
  nav .links li:not(:last-child)::after {
    display: ruby;
  }
  .music .inner,
  .specials .inner {
    padding: 4px 0 10px 0;
    min-height: 120px;
  }
  .music .inner .cover img,
  .specials .inner .image img {
    width: 40px;
  }
}

@supports (-webkit-touch-callout: none) {
  /* Safari on iOS */
  input {
    /* set min font-size for inputs to 16px to avoid auto-zooming */
    font-size: 100%;
    font-size: max(100%, 16px);
  }
}


.scene {
  perspective: 600px;
}

.card {

  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card__face {
  position: absolute;
  left:0;
  right: 0;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY( 180deg );
}